.contacto
  .title-content
    h1 Contacto
    hr

  .social-media
    a(target="_blank" href="https://www.instagram.com/").fa.fa-instagram
    a(target="_blank" href="https://www.facebook.com/").fa.fa-facebook
    a(target="_blank" href="https://www.twitter.com/").fa.fa-twitter

  .email
    a(href="mailto:tesientesseguro@gmail.com")
      h2 tesientesseguro@gmail.com
