.header
  .header-position(style="background-image: url(assets/img/header-background.jpg)")

    .nav
      a(href="/").logo
        img(src="assets/img/logo.svg", title="¿Te Sientes Seguro?", alt="¿Te Sientes Seguro?")
      ul
        li: a.active-nav(href="/") Inicio
        li: a(href="/noticias/index.html") Noticias
        li: a(href="/historias/index.html") Historias
        li: a(href="/tienda/index.html") Tienda

      .social-media
        a(target="_blank" href="https://www.instagram.com/tesientessegurodo/").fa.fa-instagram
        a(target="_blank" href="https://www.facebook.com/tesientesseguro/").fa.fa-facebook
        a(target="_blank" href="https://www.twitter.com/tesientesseguro/").fa.fa-twitter

    .header-text
      h1 ¿Te Sientes Seguro?
      h2 Únete al movimiento en contra del abuso policial en la Republica Dominicana
