.historias
  .title-content
    h1 Historias de Dominicanos
    hr

  .cuento
    h2 Lorem Ipsum
    h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...
    a(href="../_site/historias/index.html"): button Continuar Leyendo...
  .cuento
    h2 Lorem Ipsum
    h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...
    a(href="../_site/historias/index.html"): button Continuar Leyendo...
  .cuento
    h2 Lorem Ipsum
    h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...
    a(href="../_site/historias/index.html"): button Continuar Leyendo...

  .noticias-button
    a(href="../_site/historias/index.html"): button.ver-mas Ver Mas
