mixin series-news(image, title)
  .news-box
    .news-image
      img.blackwhite-hover(src=image, title=title, alt=title)
      .news-caption
        h3= title

.noticias.tienda
  .noticias-articles.pages-tienda
    +series-news('../assets/img/tienda/design.jpg', 'T-Shirts')
    +series-news('../assets/img/tienda/design1.jpg', 'T-Shirts')
    +series-news('../assets/img/tienda/design2.jpg', 'T-Shirts')
    +series-news('../assets/img/tienda/design3.jpg', 'T-Shirts')
    +series-news('../assets/img/tienda/design4.jpg', 'T-Shirts')
    +series-news('../assets/img/tienda/design5.jpg', 'T-Shirts')
    +series-news('../assets/img/tienda/stickers1.jpg', 'Stickers')
    +series-news('../assets/img/tienda/stickers2.jpg', 'Stickers')
    +series-news('../assets/img/tienda/stickers3.jpg', 'Stickers')
    +series-news('../assets/img/tienda/stickers4.jpg', 'Stickers')
    +series-news('../assets/img/tienda/stickers5.jpg', 'Stickers')
    +series-news('../assets/img/tienda/stickers6.jpg', 'Stickers')
