
<div class="contacto">
  <div class="title-content">
    <h1>Contacto</h1>
    <hr/>
  </div>
  <div class="social-media"><a class="fa fa-instagram" target="_blank" href="https://www.instagram.com/tesientessegurodo/"></a><a class="fa fa-facebook" target="_blank" href="https://www.facebook.com/tesientesseguro/"></a><a class="fa fa-twitter" target="_blank" href="https://www.twitter.com/tesientesseguro/"></a></div>
  <div class="email"><a href="mailto:tesientesseguro@gmail.com">
      <h2>tesientesseguro@gmail.com</h2></a></div>
</div>