
<div class="cuentanos">
  <div class="title-content">
    <h1>Cuentanos tu Historia</h1>
    <hr/>
  </div>
  <div class="form-fill-out">
    <div id="mc_form">
      <form method="POST" action="https://formspree.io/tesientesseguro@gmail.com">
        <div class="form-display">
          <div class="row-1">
            <div class="mc-field-group group-name">
              <label>Nombre...</label>
              <input type="text" name="name"/>
            </div>
            <div class="mc-field-group group-subject">
              <label>Asunto...</label>
              <input type="text" name="subject"/>
            </div>
            <div class="mc-field-group group-email">
              <label>Email...</label>
              <input type="email" name="_replyto"/>
            </div>
          </div>
          <div class="row-2">
            <div class="mc-field-group group-message">
              <label>Tu Historia...</label>
              <input type="text" name="subject"/>
            </div>
          </div>
          <div class="group-submit">
            <input class="submit-button" type="submit" value="Enviar"/>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>