
<div class="header">
  <div class="header-position" style="background-image: url(assets/img/header-background.jpg)">
    <div class="nav"><a class="logo" href="/"><img src="assets/img/logo.svg" title="¿Te Sientes Seguro?" alt="¿Te Sientes Seguro?"/></a>
      <ul>
        <li><a class="active-nav" href="/">Inicio</a></li>
        <li><a href="/noticias/index.html">Noticias</a></li>
        <li><a href="/historias/index.html">Historias</a></li>
        <li><a href="/tienda/index.html">Tienda</a></li>
      </ul>
      <div class="social-media"><a class="fa fa-instagram" target="_blank" href="https://www.instagram.com/tesientessegurodo/"></a><a class="fa fa-facebook" target="_blank" href="https://www.facebook.com/tesientesseguro/"></a><a class="fa fa-twitter" target="_blank" href="https://www.twitter.com/tesientesseguro/"></a></div>
    </div>
    <div class="header-text">
      <h1>¿Te Sientes Seguro?</h1>
      <h2>Únete al movimiento en contra del abuso policial en la Republica Dominicana</h2>
    </div>
  </div>
</div>