
<div class="historias">
  <div class="title-content">
    <h1>Historias de Dominicanos</h1>
    <hr/>
  </div>
  <div class="cuento">
    <h2>Lorem Ipsum</h2>
    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...</h3><a href="../_site/historias/index.html">
      <button>Continuar Leyendo...</button></a>
  </div>
  <div class="cuento">
    <h2>Lorem Ipsum</h2>
    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...</h3><a href="../_site/historias/index.html">
      <button>Continuar Leyendo...</button></a>
  </div>
  <div class="cuento">
    <h2>Lorem Ipsum</h2>
    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...</h3><a href="../_site/historias/index.html">
      <button>Continuar Leyendo...</button></a>
  </div>
  <div class="noticias-button"><a href="../_site/historias/index.html">
      <button class="ver-mas">Ver Mas</button></a></div>
</div>