
<div class="introduction">
  <div class="title-content">
    <h1>Sobre Nosotros</h1>
    <hr/>
  </div>
  <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h3><a target="_blank" href="https://www.instagram.com/">
    <button>Unete a la Siguiente Protesta</button></a>
  <div class="title-content objetivos">
    <h1>Objetivos</h1>
    <hr/>
    <ol>
      <li>Concientizar a los cuidadados a que conoscan sus derechos, puedes verlos <a target="_blank" href="https://fc-abogados.com/es/conozca-sus-derechos-y-deberes/">aqui</a>.</li>
      <li>Blah Blah Blah</li>
      <li>Blah Blah Blah</li>
      <li>Blah Blah Blah</li>
      <li>Blah Blah Blah</li>
    </ol>
  </div>
</div>