
<div class="noticias tienda">
  <div class="noticias-articles pages-tienda">
    <div class="news-box">
      <div class="news-image"><img class="blackwhite-hover" src="../assets/img/tienda/design.jpg" title="T-Shirts" alt="T-Shirts"/>
        <div class="news-caption">
          <h3>T-Shirts</h3>
        </div>
      </div>
    </div>
    <div class="news-box">
      <div class="news-image"><img class="blackwhite-hover" src="../assets/img/tienda/design1.jpg" title="T-Shirts" alt="T-Shirts"/>
        <div class="news-caption">
          <h3>T-Shirts</h3>
        </div>
      </div>
    </div>
    <div class="news-box">
      <div class="news-image"><img class="blackwhite-hover" src="../assets/img/tienda/design2.jpg" title="T-Shirts" alt="T-Shirts"/>
        <div class="news-caption">
          <h3>T-Shirts</h3>
        </div>
      </div>
    </div>
    <div class="news-box">
      <div class="news-image"><img class="blackwhite-hover" src="../assets/img/tienda/design3.jpg" title="T-Shirts" alt="T-Shirts"/>
        <div class="news-caption">
          <h3>T-Shirts</h3>
        </div>
      </div>
    </div>
    <div class="news-box">
      <div class="news-image"><img class="blackwhite-hover" src="../assets/img/tienda/design4.jpg" title="T-Shirts" alt="T-Shirts"/>
        <div class="news-caption">
          <h3>T-Shirts</h3>
        </div>
      </div>
    </div>
    <div class="news-box">
      <div class="news-image"><img class="blackwhite-hover" src="../assets/img/tienda/design5.jpg" title="T-Shirts" alt="T-Shirts"/>
        <div class="news-caption">
          <h3>T-Shirts</h3>
        </div>
      </div>
    </div>
    <div class="news-box">
      <div class="news-image"><img class="blackwhite-hover" src="../assets/img/tienda/stickers1.jpg" title="Stickers" alt="Stickers"/>
        <div class="news-caption">
          <h3>Stickers</h3>
        </div>
      </div>
    </div>
    <div class="news-box">
      <div class="news-image"><img class="blackwhite-hover" src="../assets/img/tienda/stickers2.jpg" title="Stickers" alt="Stickers"/>
        <div class="news-caption">
          <h3>Stickers</h3>
        </div>
      </div>
    </div>
    <div class="news-box">
      <div class="news-image"><img class="blackwhite-hover" src="../assets/img/tienda/stickers3.jpg" title="Stickers" alt="Stickers"/>
        <div class="news-caption">
          <h3>Stickers</h3>
        </div>
      </div>
    </div>
    <div class="news-box">
      <div class="news-image"><img class="blackwhite-hover" src="../assets/img/tienda/stickers4.jpg" title="Stickers" alt="Stickers"/>
        <div class="news-caption">
          <h3>Stickers</h3>
        </div>
      </div>
    </div>
    <div class="news-box">
      <div class="news-image"><img class="blackwhite-hover" src="../assets/img/tienda/stickers5.jpg" title="Stickers" alt="Stickers"/>
        <div class="news-caption">
          <h3>Stickers</h3>
        </div>
      </div>
    </div>
    <div class="news-box">
      <div class="news-image"><img class="blackwhite-hover" src="../assets/img/tienda/stickers6.jpg" title="Stickers" alt="Stickers"/>
        <div class="news-caption">
          <h3>Stickers</h3>
        </div>
      </div>
    </div>
  </div>
</div>