
<div class="noticias tienda">
  <div class="title-content">
    <h1>Tienda</h1>
    <hr/>
  </div>
  <div class="noticias-articles">
    <div class="news-box"><a href="tienda/index.html">
        <div class="news-image"><img class="blackwhite-hover" src="assets/img/tienda/design.jpg" title="T-Shirts" alt="T-Shirts"/>
          <div class="news-caption">
            <h3>T-Shirts</h3>
          </div>
        </div></a></div>
    <div class="news-box"><a href="tienda/index.html">
        <div class="news-image"><img class="blackwhite-hover" src="assets/img/tienda/design1.jpg" title="T-Shirts" alt="T-Shirts"/>
          <div class="news-caption">
            <h3>T-Shirts</h3>
          </div>
        </div></a></div>
    <div class="news-box"><a href="tienda/index.html">
        <div class="news-image"><img class="blackwhite-hover" src="assets/img/tienda/stickers2.jpg" title="Stickers" alt="Stickers"/>
          <div class="news-caption">
            <h3>Stickers</h3>
          </div>
        </div></a></div>
    <div class="news-box"><a href="tienda/index.html">
        <div class="news-image"><img class="blackwhite-hover" src="assets/img/tienda/stickers3.jpg" title="Stickers" alt="Stickers"/>
          <div class="news-caption">
            <h3>Stickers</h3>
          </div>
        </div></a></div>
  </div><a href="../_site/tienda/index.html">
    <button class="ver-mas">Ver Mas</button></a>
</div>