.cuentanos
  padding: $base-spacing*2

  .group-submit
    text-align: right

    input
      border: 2px solid $police-darkgrey

  .row-1, .mc-field-group
    display: flex

  .mc-field-group
    flex-direction: column
    margin-right: $base-spacing
    margin-bottom: $base-spacing

    input
      border: 2px solid $police-darkgrey
      padding-left: $base-spacing*0.5
      height: $base-spacing*2

  .group-name
    width: 20%

  .group-subject, .group-email
    width: 40%

  .group-email, .group-message
    margin-right: 0

  // .group-message
  //   input
      // border: 2px solid red
      // height: $base-spacing*5
