.header-position
  // padding: $base-spacing
  position: relative
  background:
    position: center top
    size: cover

  a, h1, h2, .fa
    color: white

  .nav, ul, .social-media
    display: flex

  // .nav, .header-text
    // margin: $base-spacing

  .nav
    position: fixed
    left: 50%
    transform: translate(-50%, 0)
    width: 100%
    // margin-top: $base-spacing
    padding: $base-spacing*0.5 $base-spacing*2
    // border: 2px solid red
    // top: 0
    background: fade-out(#737372, 0.4)
    z-index: 100

  .logo
    width: 20%

  ul
    width: 70%
    justify-content: flex-end

    a:hover
      color: black

  li
    margin-right: $base-spacing*4
    font-size: $base-spacing*1.1

  .active-nav
    border-bottom: 2px solid white

    &:hover
      border-bottom: 2px solid black

  .social-media
    width: 10%
    justify-content: flex-end
    align-items: center

  .fa
    margin-right: $base-spacing*2

    &:hover
      color: black

    &:last-child
      margin-right: 0

  .header-text
    text-align: center
    padding: 10% 0 7%

    h1
      font-size: $base-spacing*3
      text-transform: uppercase
      letter-spacing: $base-spacing*0.7
      font-weight: 400

    h2
      margin: $base-spacing auto 0
      width: 45%
      font-size: $base-spacing*1.8
      font-weight: 200

.introduction
  text-align: center
  padding: $base-spacing*2 $base-spacing*2
  background: $police-lightgrey

  button
    margin-top: $base-spacing*2

  a
    display: inline-block

@media #{$mc-xxxxlarge}
  .header-position
    .header-text
      h1
        font-size: $base-spacing*2.4
        letter-spacing: $base-spacing*0.5

      h2
        font-size: $base-spacing*1.6
        width: 70%

@media #{$mc-xxlarge}
  .header-position
    li
      margin-right: $base-spacing*2

    .fa
      margin-right: $base-spacing

    .header-text
      h1
        font-size: $base-spacing*2

      h2
        font-size: $base-spacing*1.4
        width: 70%

@media #{$mc-xmedium}
  .header-position
    .nav
      height: $base-spacing*3
      align-items: center

    li, .fa
      margin-right: 0

    ul
      width: 80%
      justify-content: space-between
      margin-right: $base-spacing*2

    .social-media
      width: 20%
      justify-content: space-around

    .header-text
      padding: $base-spacing*7 0 $base-spacing*4

      h1
        font-size: $base-spacing*1.8
        letter-spacing: $base-spacing*0.4

      h2
        font-size: $base-spacing*1.2

    .logo
      display: none

@media #{$mc-jsmall}
  .header-position
    ul
      margin-right: $base-spacing*0.5
