.noticias
  text-align: center
  padding: $base-spacing*2 0

  .noticias-articles
    display: flex
    flex-wrap: wrap
    width: 90%
    margin: auto

  .news-box
    width: 33.3%
    padding: $base-spacing*0.5 $base-spacing*2
    overflow: hidden

    img
      width: 100%
      height: auto

    h3
      margin-top: $base-spacing*0.5

.tienda
  background: $police-lightgrey
