<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> {% if page.title %} {{ page.title }} {% endif %} - ¿Te Sientes Seguro?</title>
  <meta name="description" content="Jeankee Starter Kit">
  <link rel="canonical" href="http://www.jeankeestarterkit.com/">
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">
  <link rel="icon" type="image/png" href="{{site.baseurl}}/assets/img/favicon.png">
  {% if page.type =="post" %}{{ page.styles }}{% endif %}
</head>
<body>

{{content}}

<script type="text/javascript" src="{{site.baseurl}}/assets/js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/js/functions.js"></script>
</body>
</html>
