<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> {% if page.title %} {{ page.title }} {% endif %} - ¿Te Sientes Seguro?</title>
  <meta name="description" content="¿Te Sientes Seguro?">
  <link rel="canonical" href="http://www.tesientesseguro.com/">
  <link rel="stylesheet" href="assets/css/main.css">
  <link rel="icon" type="image/png" href="assets/img/favicon.png">
</head>
<body>

{{content}}

<script type="text/javascript" src="assets/js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="assets/js/functions.js"></script>
</body>
</html>
